@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
nav {
    background-color: #E44232;
    padding: 0.5rem 0.5rem;
    display: flex;
    justify-content: space-between;
}
nav h1 {
    color: white;
    font-size: 2rem;
}
.nav-links a {
    display: block;
    color: white;
    padding: 0.5rem 0.5rem;
    font-size: 1.2rem;
    margin: 0 1rem;
}
.nav-links a:hover {
    color: black;
    transition: all 0.5s ease-in;
}
.nav-links {
    display: flex;
}
#add-todo {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
}
.add-task {
    width: 150px;
    background-color: #E44232;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    padding: 0.4rem 0.4rem;
    font-weight: bold;
}
.add-task:hover {
    background-color: white;
    border: solid 1px #E44232;
    color: #E44232;
    transition: all 0.5s ease-in;
    transform: scale(1.1);
    cursor: pointer;
}
.todo-input {
    padding: 0.2rem 0.2rem;
    font-size: 1.1rem;
    border: solid 2px black;
}
.todos {
    width: 90%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.todo-item {
    display: flex;
    justify-content: space-between;
    border: solid 1px black;
    border-radius: 2rem;
    padding: 1rem 1rem;
    background-color: #E44232;
    color: white;
}
.todo-item:hover {
    background-color: white;
    border: solid 1px #E44232;
    color: #E44232;
    transition: all 0.5s ease-in;
}
.todo-content {
    font-size: 1.1rem;
    letter-spacing: 2px;
}
.edit-delete-buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background-color: transparent;
}
.edit, .delete {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
}
i {
    color: white;
}
.todo-item:hover i {
    color: #E44232;
}
.todo-item i:hover {
    color: black;
}
.remove-all {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    background-color: #E44232;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    padding: 0.4rem 0.4rem;
    font-weight: bold;
    margin-top: 2rem;
}
.remove-all:hover {
    background-color: white;
    color: #E44232;
    border: 1px solid #E44232;
}

@media screen and (min-width : 800px) {
    #add-todo {
        width: 50%;
    }
    .todos {
        width: 60%;
        margin-left: 20%;
    }
}